<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>Day : {{currentDate | date:'dd/MM/yyyy'}}</div>

  <form class="blockValue" (ngSubmit)="onSubmit()" [formGroup]="datasForm">
    <ion-list>
      <ion-item class="form-group">
        <ion-label floating>Arriving hour</ion-label>
        <ion-datetime displayFormat="HH:mm" class="formInput" class="form-control" formControlName="arrivingTime" [(ngModel)]="timeSheet.arrivingTime"
          required></ion-datetime>
      </ion-item>
      <div class="errorValidation" *ngIf="datasForm.get('arrivingTime').hasError('required')">Arriving time is required</div>
      <ion-item class="form-group">
        <ion-label floating>Departure hour</ion-label>
        <ion-datetime displayFormat="HH:mm" class="formInput" class="form-control" formControlName="departureTime" [(ngModel)]="timeSheet.departureTime"
          required></ion-datetime>
      </ion-item>
      <div class="errorValidation" *ngIf="datasForm.get('departureTime').hasError('required')">Departure time is required</div>
      <ion-item>
        <ion-label>Familly</ion-label>
        <ion-select [(ngModel)]="timeSheet.parentName" class="formInput" formControlName="parentName">
          <ion-option *ngFor="let parent of parentList" [value]="parent?.parentName">{{parent?.parentName}}</ion-option>
        </ion-select>
      </ion-item>
      <div class="errorValidation" *ngIf="datasForm.get('parentName').hasError('required')">Parent is required</div>
    </ion-list>

    <button ion-button type="submit" [disabled]="!datasForm.valid">Save</button>
  </form>
</ion-content>