<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Manager</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let familly of (timeSheetDatas | groupBy:'parentName')">
      <h1 (click)="familly.drawer = !familly.drawer">{{familly?.key}}</h1>
      <ng-container *ngIf="familly.drawer">
        <ion-item *ngFor="let timesheet of familly.value">
          <div (click)="details(timesheet._id)">
            {{timesheet?.currentDay | date:'dd/MM/yyyy'}}
          </div>
        </ion-item>
      </ng-container>
    </ion-item>
  </ion-list>
</ion-content>